@font-face {
  font-family: "Iconify Explorer Font";
  src: url("./iconfont.eot");
  src: url("./iconfont.eot") format("embedded-opentype"),
    url("./iconfont.ttf") format("truetype"),
    url("./iconfont.woff") format("woff"),
    url("./iconfont.woff2") format("woff2"), url("./iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.i {
  font-family: "Iconify Explorer Font" !important;
  font-size: 2rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.i.bi\:search:before {
  content: "\e001";
}

.i.bi\:three-dots:before {
  content: "\e002";
}

.i.bi\:three-dots-vertical:before {
  content: "\e003";
}

.i.bx\:bx-like:before {
  content: "\e004";
}

.i.bx\:bx-user:before {
  content: "\e005";
}

.i.bx\:bxs-like:before {
  content: "\e006";
}

.i.fontisto\:comment:before {
  content: "\e007";
}

.i.ic\:baseline-add-circle-outline:before {
  content: "\e008";
}

.i.ic\:outline-dark-mode:before {
  content: "\e009";
}

.i.icon-park-outline\:dark-mode:before {
  content: "\e00a";
}

.i.icon-park-outline\:hamburger-button:before {
  content: "\e00b";
}

.i.icon-park-outline\:like:before {
  content: "\e00c";
}

.i.iconoir\:edit:before {
  content: "\e00d";
}

.i.ion\:heart-outline:before {
  content: "\e00e";
}

.i.ion\:heart-sharp:before {
  content: "\e00f";
}

.i.ls\:dark:before {
  content: "\e010";
}

.i.majesticons\:image-line:before {
  content: "\e011";
}

.i.mdi\:bookmark:before {
  content: "\e012";
}

.i.mdi\:bookmark-outline:before {
  content: "\e013";
}

.i.mdi\:lightning-bolt-outline:before {
  content: "\e014";
}

.i.uil\:home-alt:before {
  content: "\e015";
}
