.page{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    min-height: 100vh;
    padding: 4rem 0.5rem 4.5rem 0.5rem;
}

fieldset{
    border-color: var(--secondary-text-color);
    color: var(--secondary-text-color);
}

textarea{
    background-color: var();
}

.detail-label{
    color: var(--primary-text-color);
}

.logout{
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #f2f2f2;
}

.new-post{
    color: var(--primary-color);
    background-color: var(--custom-bg-color);
}

.login-page{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    min-height: 100vh;
    padding: 8rem 0.5rem 4.5rem 0.5rem;
}

.login-box{
    background-color: var(--secondary-bg-color);
}

.login-field{
    background-color: var(--primary-bg-color);
}

@media only screen and (min-width: 768px){

    .page{
        padding: 3.5rem 1rem 1rem 18rem;
    }

    .login-page{
        padding: 8rem 28rem;
    }

}