.page{
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    min-height: 100vh;
    padding: 4rem 0.5rem 4.5rem 0.5rem;
}

@media only screen and (min-width: 768px){

    .page{
        padding: 5rem 1rem 1rem 18rem;
    }

}